# awscli v2 is not officially available on PyPI (https://github.com/aws/aws-cli/issues/4947).
# Specifying awscli in requirements-core.txt here ensures that it (and its transitive dependencies)
# are taken into account when generating the final requirements-full.txt file.
awscli @ git+https://github.com/aws/aws-cli@2.27.48
boto3==1.39.2
civis==2.7.1
numpy==2.3.1
pandas==2.3.0
polars==1.31.0
requests==2.32.4
scikit-learn==1.7.0
scipy==1.16.0
